h1 {
  font-size: 5em;
  color: white;
  text-decoration: none;
}
h2 {
  font-size: 1em;
  color: white;
  text-decoration: none;
}
h3 {
  font-size: 0.8em;
  color: white;
  text-decoration: none;
}
img {
  width: 100%;
  max-width: 500px;
  height: auto;
}
body {
  background-color: rgb(70, 46, 46);
  color: white;
  text-align: center;
  align-items: center;
}
a {
  color: white;
  text-decoration: none;
}
